<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<% if @user.id %> 
		<%= f.submit I18n.t("user._entity_update") %>
	<% else %>
		<%= f.submit I18n.t("user._entity_create") %>
	<% end %>
<% end %>