<h1><%= I18n.t("user._entity") %></h1>
<p><%= @user.email %></p>
<br>
<%= link_to(I18n.t("user._entity_edit"), edit_user_path(@user)) %>
<%= link_to I18n.t("user._entity_destroy"),
		user_path(@user),
		method: :delete,
		data: { confirm:
			I18n.t("user._entity_destroy_message_confirm")
		} %>