<h1>Base Web Rails App</h1>
<div>
	Welcome!
<div>
<div>
	<% if user_signed_in? %>
		<p><%= I18n.t("session._logged_in") %></p>
		<% if can? :manage, User %>
			<p>
				<%= link_to(I18n.t("user._entity_index"), users_path) %>
			</p>
		<% end %>
	<% end %>
</div>
